#buttonExit{
   -fx-font-size: 18px;
   -fx-color: red;
   -fx-font-color: white;
   -fx-font-weight: 700;
}


.button{
    -fx-font-size: 14px;
    -fx-font-style: oblique;
    -fx-font-weight: lighter;
    -fx-font-family: Arial, serif;
}


#gradient{
    -fx-background: #fefcea; /* Для старых браузров */
    -fx-background: linear-gradient(to bottom left, #fefcea, #f1da36);
    /*
    -fx-padding: 10px;
    -fx-border: 1px solid #333;
    */
}