
@{
    ViewBag.Title = "OrderTicketPage";
    Layout = "~/Views/Shared/MasterPage.cshtml";
}

<div class="row mt-5">
    <div class="col-6 push-lg-3" id="content">
        <h2>OrderTicketPage</h2>
    </div>
</div>
